<!DOCTYPE html>
<head>
    <title>Yo-Magic</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Just an image -->
        <a href="/templates/home.html"><img src="icon.png" width="60" height="60" alt=""></a>

        <a class="navbar-brand" href="/templates/home" style="float: left;">BSYF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JesusVision Groups</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/templates/hydrasoak.html">Hydra Soak</a>
                <a class="dropdown-item" href="/templates/yo-magic.html">Yo-Magic</a>
                <!-- <div class="dropdown-divider"></div> LINE TO DIVIDE SECTIONS -->
                <a class="dropdown-item" href="/templates/toastmate.html">Toastmate</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/about.html">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> HOW TO DISABLE ITEM --> 
          </ul>
        </div>
    </nav>

    <br/>
    <div style="text-align: center;"><h1><b>YO-MAGIC</b></h1></div>
    <!-- <div><iframe src="https://drive.google.com/file/d/17xsrp45WZDfToQCFFqbeKHA-qgD9EdZB/preview" width="100%" height="200" allow="autoplay"></iframe></div> -->
    <div style="position:absolute;"><iframe src="https://drive.google.com/file/d/1dyinZD-g3GrYBC63fN0WEeWKr3d85QW3/preview" width="100%" height="280"></iframe></div>
    <div style="position:absolute;"><iframe src="https://drive.google.com/file/d/1drNL44I1sB0ZM8oL3Cap1jIzQ2v8x0g1/preview" width="100%" height="280"></iframe></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>